/*****custom Features ******/
{box-sizing: border-box;}
.row>.column{padding: 0 8px;}
.row:after{content: "";display: table;clear: both;}
.column{float: left;width:25%;}

/*the modal(background) lightroom*/
.modal{display: none;position: fixed;z-index: 1;padding-top: 100px;left: 0;top: 0;width: 100%;height: 100%; overflow: auto;background-color: darkslategray;}
/**** modal content - lightroom *****/
.modal-content{position: relative;background-color: darkslategray;margin: auto;padding: 0;width: 90%;width: 90%;max-width: 1200px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); }
.modal-header {padding: 2px 16px;background-color: #2b848c;color: #c4a483;}
.modal-body {padding: 2px 16px;}
.modal-footer {padding: 2px 16px;background-color: #5cb8af;#c4a483;}
/***** the close button *****/
.close{color: cadetblue;position: absolute;top: 10px; right: 25;font-size: 36px;font-weight: bold;}

.close: hover,
.close: focus{color: darkcyan;text-decoration: none; cursor: grabbing;}

.mySlides{display: none;}
.cursor{cursor: grab;}
/**** next and previous buttons *****/
.prev,
.next{cursor: pointer;position: absolute;top: 50%; width:auto; padding: :16px; margin-top: -50px;color: darkslategray;font-weight: bold; font-size: 20px; transition: 0.6s ease; border-radius: 0 3px 3px 0; user-select:none;-webkit-user-select: none;}

/***** position the 'next button' to the right ****/
.next{right: 0; border-radius: 3px 0 0 3px;}

/*** On hover, add background color with a little bit see-through ***/
.prev:hover,
.next:hover{background-color:  darkcyan;}

/****** number text (1/3)*****/
.numbertext{color: darkcyan;font-size: 12px; padding: 8px 12px; possition: absolute; top: 0;}

img{margin-bottom: -4px;}
.caption-container{text-align: center;background-color: darkslategrey; padding: 2px 16px; color: burlywood;}

.demo:hover{opacity: 1;}
img.hover-shadow{transition: 0.3s}

.hover-shadow:hover{box-shadow:26px 34px 28px 2px rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19) }

#myTable{border-collapse: collapse;width: 80%;border: 1px solid #128682;font-size: 18px;margin-left: 10%;margin-right: 10%;}
#myTable th,#myTable td {text-align: center;padding: 12px;}

#myTable tr{border-bottom: 1px solid #128682;}
#myTable tr.header,#myTable tr:hover{background-color: darkslategray;}

/**** admin assistant as in chip ****/
.chip{display:inline-block;padding: 0 25px;height: 50px;font-size: 50px; border-radius: 25px;background-color: darkslategrey;}
/****** style buttons  *****/
.buttonload{background-color:#128682;border: none;color:#08c877;padding: 12px 16px;font-size: 16px;}
/**** toast message *****/
#snackbar{visibility: hidden;min-width: 250px;margin-left: -125px; /**divide value of min-width by 2**/ background-color: ##31837e; color: ##a2723f;text-align: center;border-radius: 2px;padding: 16px;position: fixed;/**on top of the sreen**/z-index: 1;right: 50%;bottom: 40px;}
#snackbar.show{visibility: visible;}
-webkit -animation: fadein 0.5s, fadeout 0.5s 2.5s;
animation: fadein 0.5s, fadeout 0.5s 2.5s;

@-webkit-keyframes fadein{from{bottom:0; opacity: 0;} to {bottom: 30px; opacity: 1;}}
@keyframes fadein{from{bottom:0; opacity: 0;} to {bottom: 30px; opacity: 1;}}
@-webkit-keyframes fadeout{from{bottom:30; opacity: 1;} to {bottom: 0px; opacity: 0;}}
@keyframes fadeut{from{bottom:30; opacity: 1;} to {bottom: 0px; opacity: 0;}}

@-webkit-keyframes animatetop {from {top:-300px; opacity:0} to {top:0; opacity:1}}
@keyframes animatetop {from {top:-300px; opacity:0}to {top:0; opacity:1}}
/*** contact chip****/
.chip{display: inline-block;padding: 0 25px;height: 50px;font-size: 16px;line-height: 50px;border-radius:25px;background-color: #284d2d;}
.chip img{float: left;margin 0 10px; 0 -25px;height: 50px;width: 50px;border-radius: 50%;}

.dropdown-menu{background-color: darkslategrey;color:forestgreen;}
